body {
    background-color: rgb(175, 225, 240);
}

#tipsforuse {
    background-color: rgb(240, 240, 240);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 8px grey;
    padding: 10px;
    margin-bottom: 20px;
    width: fit-content;
    margin: 0 auto;
}


.container {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  padding: 15px;
  background-color: white;
  text-align: center;
  margin: 20px auto;
}

#lista li{

    border: 2px solid;
    border-radius: 7px;
    background-color: lightgrey;
    margin-bottom: 20px;
    padding: 10px;
    list-style-position: inside;
}

#lista li button {
    margin-left: 10px ;
}

#agregarInputsaLista, #eliminaUltimaTarea, #vaciaTodasTareas {
    margin-top: 10px;
    margin: 5px;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 16px;

}

#agregarInputsaLista:hover, #eliminaUltimaTarea:hover, #vaciaTodasTareas:hover {

padding: 5px 20px;
transition: all 0.5s ease;
}

.boton-editar {
    background-color: rgb(111, 166, 230);
    max-width: 50px;
    
}

.boton-editar:hover {
    background-color: rgb(111, 130, 230);
    transform: rotate(40deg);
    transition: transform 0.7s ease;   
}

.boton-eliminar-especifico {
    background-color: rgb(230, 111, 111);
    margin-left: 10px;
}

.boton-eliminar-especifico:hover {
    background-color: rgb(230, 111, 150);
    transform: rotate(-35deg);
    transition: transform 0.7s ease;   
}

.destacado {
    color: red;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    #agregarInputsaLista, #eliminaUltimaTarea, #vaciaTodasTareas {
        font-size: 14px;
        padding: 4px 8px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 70%;
        padding: 12px;
    }

    #agregarInputsaLista, #eliminaUltimaTarea, #vaciaTodasTareas {
        font-size: 15px;
        padding: 4px 9px;
    }
}

@media (min-width: 1025px) {
    .container {
        width: 50%;
        padding: 15px;
    }

    #agregarInputsaLista, #eliminaUltimaTarea, #vaciaTodasTareas {
        font-size: 16px;
        padding: 5px 10px;
    }
}
