body {
    background-color: rgb(175, 225, 240);
}

.container {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px grey;
  padding: 15px;
  background-color: white;
  text-align: center;
}

#lista li{

    border: 2px solid;
    border-radius: 7px;
    background-color: lightgrey;
    margin-bottom: 20px;
    padding: 10px;
    list-style-position: inside;
}

#lista li button {
    margin-left: 10px ;
}

#agregarInputsaLista, #eliminaUltimaTarea, #vaciaTodasTareas {
    margin-top: 10px;
    margin: 5px;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 16px;

}

#agregarInputsaLista:hover, #eliminaUltimaTarea:hover, #vaciaTodasTareas:hover {

padding: 5px 20px;
transition: all 0.5s ease;
}

.boton-editar {
    background-color: rgb(111, 166, 230);
    max-width: 50px;
    
}

.boton-editar:hover {
    background-color: rgb(111, 130, 230);
    transform: rotate(40deg);
    transition: transform 0.7s ease;   
}

.boton-eliminar-especifico {
    background-color: rgb(230, 111, 111);
    margin-left: 10px;
}

.boton-eliminar-especifico:hover {
    background-color: rgb(230, 111, 150);
    transform: rotate(-35deg);
    transition: transform 0.7s ease;   
}

.destacado {
    color: red;
    font-weight: bold;
}

