body {
    background-color: bisque;
}

#agregarInputsaLista, #eliminaUltimaTarea, #vaciaTodasTareas {
    margin-top: 10px;
    margin: 5px;
    border-radius: 7px;
    padding: 5px 10px;
    font-size: 16px;

}

#agregarInputsaLista:hover, #eliminaUltimaTarea:hover, #vaciaTodasTareas:hover {

padding: 5px 20px;
transition: all 0.5s ease;
}

.boton-editar {
    background-color: rgb(111, 166, 230);
    
}

.boton-editar:hover {
    background-color: rgb(111, 130, 230);
    transform: rotate(40deg);
    transition: transform 0.7s ease;   
}

.boton-eliminar-especifico {
    background-color: rgb(230, 111, 111);
}

.boton-eliminar-especifico:hover {
    background-color: rgb(230, 111, 150);
    transform: rotate(-35deg);
    transition: transform 0.7s ease;   
}

.destacado {
    color: red;
    font-weight: bold;
}

